/*html, body, div, p, ul, li, ol, dl, dt, dd, pre, code, table, tr, td, form, fieldset, legend, button, input, textarea, h1, h2, h3, h4, h5, h6, hr, blockquote {
  margin: 0;
  padding: 0;
}*/

a{
	color:#3c474a;
	text-decoration:none; 
}

a:hover {
	color:#bd081c;
	text-decoration:none;
}

footer {
	margin-top: 5px;
	text-align: center;
	font-size: 14px;
}

.main.menu .item img.logo {
	margin-right: 1.5em;
}


/*.main.menu .header.item {
	font-family: "gunplay"
}*/