{% extends 'layouts/default.html' %}

{% block content %}
<div class="about ui text container">
    <h4 class="ui top attached block header" data-i18n="about.intro"></h4>
    <div class="ui bottom attached segment" data-i18n="about.introduction"></div>
    <h4 class="ui top attached block header" data-i18n="about.thanks"></h4>
    <div class="ui bottom attached segment">
        <div class="ui bulleted list">
            <div class="item"><a href="https://github.com/soruly/awesome-acg">awesome-acg</a></div>
        </div>
    </div>        
</div>    
{% endblock %}